<%= form_with(model: message, url: messages_path) do |form| %>
    <div class="input-group">
        <%= form.text_field :body, class: "form-control", placeholder: "Digite sua mensagem..." %>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
    <%= form.hidden_field :chat_id, value: chat.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
<% end %>